#main{
  background-color:#CB8EE8;
  width:1600px;
  height:1900px;
}

#whois{
  padding-top:2%;
  text-align:center;
}

#content{
  
  width:50%;
  height:98%;
  margin:0% auto 0%;
}

#main-box{
  background-color:#C4B0CD;
  width:100%;
  height:90%;
  display:flex;
  flex-direction:column;
  align-items:center;
}

#img-div{
  background-color:white;
  width:400px;
  height:435px;
  margin-top:50px;
  display:flex;
  flex-direction:column;
  border-radius: 10%;
}
#image{
  margin: 25px auto;
}

#img-caption{
  margin:0 10px;
  text-align:center;
  border-radius: 10%;
}

.tab{
  margin: 50px 70px;
}

p{
  margin: 10px 20px;
}
h6{
  text-align:center;
}

#material-content{
  text-align:center;
}

footer{
  height: 50px;
  width; 100%;
  background-color:#a90ff2;
  text-align:center;
  align-items:center;
  padding-top:10px;
  color:white;
}